*{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Georgia', serif;
  background-color: #3b1f1f;
  color: #d4af37;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: normal;
}

h2 {
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.intro {
  font-size: 18px;
  margin-bottom: 30px;
}

.qa .block {
  text-align: left;
  margin-bottom: 25px;
  background: #2c1e1e;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(44, 28, 14, 0.1);
}

.question {
  font-weight: bold;
  margin-bottom: 5px;
}

.answer {
  margin-left: 20px;
}